.container>img{
    height: auto;
    margin: 10px;
    max-height: 450px;
    object-fit: contain;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #9497962b;

}